@font-face { font-family:nth-hyperspec-overpass; src:url('./OverpassMonoVariable.ttf'); }
@font-face { font-family:nth-hyperspec-noto; src:url('./NotoSansMonoVariable.ttf'); }
:root {
    --bg: rgb(229, 211, 202);
    --bgd: rgb(145,192,189);
    --bgdd: rgb(206, 174, 158);
    --bgl: #91C0BD70;
    --fg: rgb(87, 36,0);
    --fgl: rgb(154, 52, 1);
    --hg: rgb(94, 228, 217);
    --size:calc(12px + ((1vw + 1vh) / 2));
}
html { width: 100%; height: 100%; }
html * { font-family: nth-hyperspec-overpass, nth-hyperspec-noto;}
body { color:var(--fg); background-color:var(--bg); font-size:var(--size); max-width: min(69vw, 160ch); margin: auto; overflow:hidden;}
body * { font-family: nth-hyperspec-overpass, nth-hyperspec-noto; font-variant-ligatures: none; max-width: 100%; touch-action:none; user-select:none;}
nav { display:flex; height:1lh; width: 100%; flex-flow: row nowrap; justify-content: space-between; }
a { text-decoration: none; color: var(--fgl); }
a:hover { color: var(--hg); }
h1 { font-size: calc(var(--size) * 2); }
h2 { font-size: calc(var(--size) * 1.5); }
main h1 { width:100%; text-align:center; }
figure { width: 69%; border: solid 0.2ch var(--fgl); border-radius: 1ch; padding: 1ch; background-color: var(--bgd); margin: auto; }
figcaption { border-bottom: solid 0.2ch var(--fgl); margin-bottom: 1lh;}
main { counter-reset: clause-number 0; counter-reset: article-number 0;}
main article { counter-set: clause-number 0; counter-increment: article-number; }
main > article > p::after { content: counter(article-number) '-' counter(clause-number); counter-increment: clause-number; position: relative; left: calc(100% - 13ch); }
footer { text-align: center; position: absolute; bottom: 0%; width: 100%; max-width: min(69vw, 160ch); }
footer > * { margin: auto; }
*:hover > nth-tooltip > *{visibility:visible;}
@media screen and (max-width: 160ch) {
    body {width: auto; max-width: calc(100% - 3ch); padding: 1ch; }
    figure { width: fit-content; }
}
:target{all:none;}
#searchbar{background-color:inherit;color:inherit;font-size:inherit;border:solid calc(0.2 * var(--size)) var(--fg);border-radius:1ch;display:block;margin:auto;height:3ch;width:31%;}
#searchbutton{background-color:inherit;color:inherit;font-size:inherit;border:none;cursor:pointer;display:block;margin:auto;margin-bottom:1ch;height:2ch;font-size:calc(var(--size) * 1.5);border-radius:0.5ch;}
#searchbutton:hover{background-color:var(--dbg);}
#results{height:calc(100vh - 19ch);text-align:center;margin:auto;width:31%;border:none 0.2ch var(--fg);border-radius:1ch;}
#results > * {text-align:center;}
#next, #prev, #up{position:fixed;bottom:0;font-size:calc(1.5 * var(--size));background-color:var(--bg);border: solid var(--fg) 0.2ch;border-radius:1ch;display:block;padding:none;width:3ch;height:3ch;line-height:3ch;text-align:center;box-shadow: 0px 0px 10px 0px var(--fg);}
#next{right:0;}
#prev{left:0ch;}
#up{left:calc(50vw - 2ch);}
#cover-icon{display:block;min-height:34vh;max-height:30ch;margin:auto;}
#cover-icon > * {display:block;min-height:34vh;max-height:30ch;margin:auto;}
#title-page{min-height:34vh;height:max-content;border:none;width:fit-content;margin:auto;text-align:center;}
nth-source-snippet { white-space: pre; display: inline-block; }
nth-area{display:block;width:90vw;height:90vh;margin:auto;}
nth-area > *{display:block;border-radius:0.5ch;padding:0;margin:0;}
nth-area:empty::after{content:'Click anywhere to create an expression.';display:block;position:relative;margin:auto;text-align:center;padding:0;top:15vh;width:100%;left:0;}
nth-unicode{display:block;height:90vh;width:21ch;position:absolute;top:10vh;left:-22ch;z-index:100;background-color:var(--bg);transition: all 0.2s;}
nth-unicode div{display:flex;flex-flow:row wrap;justify-content:left;margin-bottom:1ch;background-color:var(--bg);box-shadow:0 0 1ch var(--fg);border-radius:0.5ch;padding:0.5ch;}
nth-unicode div > *{display:inline-flex;cursor:pointer;border-radius:0.5ch;height:2ch;width:2ch;justify-content:center;align-items:center;}
nth-unicode div > *:hover{background-color:var(--bg1);}
nth-showhide{display:flex;position:relative;top:50%;left:calc(100% + 2ch);height:3ch;width:3ch;justify-content:center;align-items:center;border-radius:3ch;background-color:var(--fgl);cursor:pointer;}
nth-showhide:hover{box-shadow:0 0 1ch var(--fg);}
nth-header{display:block;margin:auto;min-height:5ch;text-align:center;border-bottom:solid var(--fg) 0.2ch;padding:1ch;padding-left:2ch;padding-right:2ch;}
nth-left-margin{grid-area:left;box-shadow:var(--fg) 3ch 0 3ch -2ch;}
nth-right-margin{grid-area:right;box-shadow:var(--fg) -3ch 0 3ch -2ch;}
nth-footer{grid-area:bottom;}
nth-help{position:absolute;display:none;top:7vh;left:3ch;width:calc(100vw - 6ch);height:calc(90vh - 2ch);margin:0;background-color:var(--bg);box-shadow:var(--fg) 0 0 13ch 2ch;z-index:10;border-radius:1ch;overflow-y:scroll;}
nth-help table tr{border-bottom:dotted var(--fg) 0.2ch;}
nth-help table{border-collapse:collapse;}
nth-help > *{position:static;}
help-button{display:inline-block;cursor:pointer;width:3ch;border-radius:0.5ch;}
help-button:hover, help-button:active{background-color: var(--bgd);}
close-help{display:inline-block;position:fixed;top:10vh;right:5ch;cursor:pointer;padding:0.2ch;border-radius:0.5ch;}
close-help:hover, close-help:active{background-color:var(--bgd);}
nth-editor{display:grid;width:max-content;grid-template-areas: 'handle area' 'options area';position:absolute;font-family:customfont, noto, monospace;min-height:1ch;min-width:1ch;padding:1ch;z-index:0;border-radius:1ch;cursor:move;}
nth-editor[active]{z-index:1;}
nth-editor textarea {display:none;appearance:none;width:0;height:0;resize:none;}
nth-handle{cursor:move;width:2ch;height:2ch;line-height:2ch;grid-area:handle;display:flex;flex-flow:column nowrap;padding:0;border-radius:0.5ch;background-color:var(--bg);text-align:center;font-size:calc(1.2 * var(--size));}
nth-editor[active] nth-handle{color:var(--fgl)}
nth-editor[active] nth-options{color:var(--fgl);}
nth-options{display:none;flex-flow:column nowrap;justify-content:flex-start;background-color:var(--bg);position:relative;top:0ch;box-shadow:var(--fg) 0 0 0.5ch;border-radius:0.5ch;}
nth-options > *, nth-tools > *{display:grid;justify-content:center;align-items:center;width:2ch;height:2ch;line-height:2ch;border-radius:0.5ch;text-align:center;cursor:pointer;}
nth-options > *:hover, nth-options > *:active, nth-tools > *:hover, nth-tools > *:active{background-color:var(--bgd);}
nth-manip{position:relative;}
nth-tools{display:none;flex-flow:row nowrap;width:min-content;max-width:unset;height:2ch;position:absolute;background-color:var(--bg);border-radius:0.5ch;top:0;left:2ch;box-shadow:var(--fg) 0 0 0.5ch;}
nth-editor[active] nth-manip:hover nth-tools, nth-editor[active] nth-manip:active nth-tools{display:flex;z-index:500;}
nth-handle:hover nth-options, nth-handle:active nth-options{display:flex;}
nth-code{grid-area:area;font-size:calc(var(--scale) * 0.7);user-select:none;max-width:69vw;padding:0.2ch;}
nth-symbol, nth-expression, nth-quote, nth-line, nth-string, nth-linebreak{display:inline-block;min-width:1ch;line-height:1lh;min-height:1lh;border-radius:0.5ch;margin:0;padding:0;background-color:var(--bg);}
nth-expression{border-radius:0.7ch;height:min-content;width:fit-content;vertical-align:top;transition:all 0.2s;margin:0;box-shadow: var(--bgdd) 0 0 0 0.1ch;}
nth-editor[active] nth-expression[active]{box-shadow: var(--fg) 0 0 0.7ch;position:relative;z-index:200;}
nth-expression > * + *{margin-left:1ch;}
nth-expression > nth-linebreak + *, nth-symbol[quote] + *, nth-symbol[tab] + *, nth-symbol:empty + *, * + nth-symbol[tab]{margin-left:0;}
nth-expression nth-expression + nth-symbol {vertical-align:bottom;}
nth-editor[active] nth-symbol[active], nth-editor[active] nth-linebreak[active]{background-color:var(--bgd);color:var(--fg);}
nth-editor[active] nth-expression[active] nth-expression{background-color:var(--bgl);}
nth-expression[active]{background-image:none;}
nth-symbol, nth-linebreak{cursor:pointer;transition:all 0.2s;padding:0;border-radius:0.5ch;white-space:pre;background-color:unset;}
nth-symbol:empty{width:1ch;height:1lh;vertical-align:top;border-bottom:dotted var(--fgl) 0.2ch;border-bottom-left-radius:0;border-bottom-right-radius:0;}
nth-linebreak{color:var(--bgdd);display:inline;}
nth-tooltip{position:relative;font-family:serif;font-size:calc(var(--size) * 0.5);visibility:hidden;transition-property:visibility;transition-duration:0.5s;}
nth-help nth-tooltip{transition-duration:0s;}
nth-tooltip > *{position:absolute;z-index:100;width:fit-content;min-width:20ch;height:fit-content;padding:1ch;color:var(--fg);border-radius:0.5ch;box-shadow:var(--fg) 0 0 1ch;background-color:var(--bg);white-space:normal;}
*:hover > nth-tooltip {visibility:visible;}
nth-tooltip:hover {visibility:visible;}
nth-string{color:var(--fgl);transition:all 0.2s;border-radius:0.5ch;appearance:none;outline:none;padding:0.2ch;}
nth-string:empty{width:1ch;height:1rlh;vertical-align:top;font-family:serif;}
nth-editor[active] nth-string[active]{background-color:var(--bgd);}


nth-keyboard-area{display:grid;justify-content:center;align-items:center;margin:0;padding:0;padding-bottom:3ch;border-radius:1ch;border-bottom-left-radius:0;border-bottom-right-radius:0;width:100%;padding:0ch;position:absolute;bottom:0;left:0;z-index:100;background-color:var(--bg);box-shadow:0 0 4ch -1ch var(--fg);transition:all 0.2s;}
nth-keyboard-area *{margin:1ch;max-width:unset;font-size:calc(1.7 * var(--size));}
nth-keyboard{grid-area:a;display:block;width:max-content;text-align:center;font-family:monospace;margin:auto;position:relative;top:0;}
keyboard-display{display:grid;grid-template-areas:'a' 'b';grid-template-rows: 12ch auto;width:max-content;margin:0;grid-area:middle;height:min-content;justify-content:center;align-items:center;font-family:monospace;}
nth-modifiers{grid-area:b;display:grid;font-size:calc(2 * var(--size));justify-self:center;grid-template-areas: 'openparen shift symb symb symb spacebar spacebar spacebar back break closeparen' 'layoutleft . . . moveleft moveup movedown moveright  . toggle layoutright';}
keyboard-shift{grid-area:shift;}
keyboard-symb{grid-area:symb;}
keyboard-space{grid-area:spacebar;}
keyboard-backspace{grid-area:back;}
keyboard-linebreak{grid-area:break;}
cursor-left{grid-area:moveleft;}
cursor-up{grid-area:moveup;}
cursor-down{grid-area:movedown;}
cursor-right{grid-area:moveright;}
nth-prev-layout{grid-area:layoutleft;}
nth-next-layout{grid-area:layoutright;}
keyboard-open-expression{grid-area:openparen;}
keyboard-close-expression{grid-area:closeparen;}
keyboard-toggle{grid-area:toggle;}
keyboard-row{display:block;margin:auto;padding:none;}
keyboard-key{display:inline-block;border:solid var(--bgdd) 0.1ch;border-radius:0.5ch;padding:0.2ch;margin:0.2ch;}
.modifier{display:inline-grid;justify-content:center;align-items:center;min-height:2ch;min-width:2ch;width:fit-content;line-height:2ch;border:solid var(--bgdd) 0.1ch;border-radius:0.5ch;margin:auto;}
nth-keyboard-toggle{position:static;bottom:1ch;left:50%;transition:all 0.2s;}
nth-modifiers * {margin-left:0.2ch;margin-right:0.2ch;padding:0.2ch;font-size:calc(1.5 * var(--size));}